### IntelliJ IDEA ###
out/
.idea/
*.iml

### Maven ###
target/

### Firebase private key ###
firebase-key.json

### Old SQLite database ###
club_connect.db
*.db

### Java ###
*.class

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store